@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --body-bg: hsl(230, 100%, 99%);
    --text: hsl(225, 20%, 60%);
    --empty-slide-bar: hsl(224, 65%, 95%);
    --slider-hover-bg: hsl(176, 65%, 40%);
    --toggle-bar: hsl(223, 50%, 87%);
    --checkbox-hover: hsl(174, 77%, 80%);
    --checkbox-active: hsl(174, 86%, 45%);
    --discount-bg: hsl(14, 92%, 95%);
    --discount-text: hsl(15, 100%, 70%);
    --button-clr: hsl(226, 100%, 87%);
    --button-bg: hsl(227, 35%, 25%);
    --white: hsl(0, 0%, 100%);

    --fs-xs: 0.75rem;           /*12px*/
    --fs-s: 0.8125rem;          /*13px*/
    --fs-l: 1.25rem;            /*20px*/
    --fs-xl: 2rem;              /*32px*/
}
body{
    min-height: 100vh;
    color: var(--text);
    background: url('./images/bg-pattern.svg') no-repeat, var(--body-bg);
    font-size: var(--fs-s);
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header{
    background: url('./images/pattern-circles.svg') no-repeat center;
    padding: 3rem 0;
    margin-top: 2rem;
}
header h1{
    color: var(--button-bg);
    font-size: var(--fs-l);
    margin-bottom: .5rem;
}
main{
    max-width: 600px;
    width: 100%;
    background: var(--white);
    padding: 2rem 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
main form .range-container .view-container{
    font-size: var(--fs-s);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ----------range-input---------- */

.range-container input[type='range'] {
    width: 100%;
    height: .5rem;
    background: linear-gradient(
        to right,
        var(--checkbox-hover) 0%,
        var(--checkbox-hover) 50%,
        var(--empty-slide-bar) 50%,
        var(--empty-slide-bar) 100%
        );
    margin: 2.25rem 0;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='range']::-webkit-slider-thumb {
    width: 2.25rem;
    height: 2.25rem;
    background: url('./images/icon-slider.svg') no-repeat center, var(--checkbox-active);
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem .5rem hsla(174, 77%, 80%);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='range']::-webkit-slider-thumb:hover{
    background-color: hsl(174, 86%, 50%);
}
input[type='range']::-webkit-slider-thumb:active{
    background-color: var(--slider-hover-bg);
}
.range-container .price-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.price-container #price{
    color: var(--button-bg);
    font-size: var(--fs-xl);
    font-weight: 800;
}
form .switch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    margin: 1.5rem 0 1.5rem 0;
    position: relative;
}
.switch-container > span{
    font-size: var(--fs-xs);
}
span .yearly{
    position: absolute;
    color: var(--discount-text);
    background: var(--discount-bg);
    font-size: 10px;
    padding: .25rem .5rem;
    margin-left: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.yearly--mobile{
    display: inline;
}
.yearly--desktop{
    display: none;
}
.switch-container .switch {
    position: relative;
    width: 2.5rem;
    height: 1.25rem;
}

/* ----------switch-input---------- */

.switch #switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch .slider {
    position: absolute;
    inset: 0;
    background: var(--toggle-bar);
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    cursor: pointer;
}
.slider:before {
    position: absolute;
    content: "";
    left: .25rem;
    bottom: .25rem;
    height: .75rem;
    width: .75rem;
    background: var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}
#switch-input:hover + .slider{
    background: var(--checkbox-hover);
}
#switch-input:checked + .slider {
    background: var(--checkbox-active);
}
#switch-input:checked + .slider:before {
    transform: translate(1.25rem);
    -webkit-transform: translate(1.25rem);
    -moz-transform: translate(1.25rem);
    -ms-transform: translate(1.25rem);
    -o-transform: translate(1.25rem);
}
form hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--empty-slide-bar);
    margin: 1.5rem 0;
}
form .features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.features ul{
    list-style-type: none;
    display: grid;
    gap: .5rem;
    font-size: var(--fs-xs);
}
ul li img{
    margin-right: .75rem;
}
.features button{
    width: max-content;
    color: var(--button-clr);
    background: var(--button-bg);
    font-size: var(--fs-xs);
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    padding: .75rem 2.5rem;
    margin: 0 auto;
    border: none;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    cursor: pointer;
}
.features button:hover{
    color: var(--white);
}
footer{
    font-size: var(--fs-xs);
    margin-bottom: 1rem;
}
footer a{
    color: var(--checkbox-active);
}
footer a:hover{
    text-decoration: none;
}

/* ----------media-queries---------- */

@media(min-width: 370px){
    main{
        width: calc(100% - 3rem);
        margin: 1.5rem;
        margin-top: 1rem;
    }
    form hr{
        width: calc(100% + 6rem);
        margin-left: -3rem;
    }
}
@media(min-width: 750px){
    body{
        background-size: 100% auto;
    }
    :root{
        --fs-xs: 0.875rem;          /*13px*/
        --fs-s: 1rem;               /*16px*/
        --fs-l: 1.875rem;          /*30px*/
        --fs-xl: 2.5rem;            /*40px*/
    }
    header{
        margin-top: 0;
    }
    header br{
        display: none;
    }
    main{
        padding: 3rem;
        box-shadow: 0 1.5rem 1.5rem 0 rgba(0, 0, 0, 0.1);
    }
    form .range-container{
        display: grid;
        align-items: center;
    }
    .range-container .view-container,
    .range-container .price-container{
        grid-row: 1/2;
    }
    .range-container input{
        grid-column: 1/3;
    }
    .range-container input[type='range']{
        margin: 1rem 0 2rem 0;
    }
    input[type='range']::-webkit-slider-thumb {
        width: 2.5rem;
        height: 2.5rem;
    }
    form .switch-container{
        margin: 0 0 2rem 0;
    }
    .switch-container .switch {
        width: 2.75rem;
        height: 1.5rem;
    }
    .slider:before{
        width: 1rem;
        height: 1rem;
    }
    .yearly--mobile{
        display: none;
    }
    .yearly--desktop{
        font-size: 12px;
        display: inline;
    }
    form .features{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .features button{
        margin: 0;
    }
}
